opencv-python
pyaudio
numpy
fastapi
uvicorn
fpdf
aiortc
nltk
openai
deepface
openai-whisper
requests
SpeechRecognition
sqlalchemy
python-dotenv
passlib[bcrypt]
python-jose
transformers
sounddevice
google-cloud-speech
pyaudio 